{% extends 'registration/base.html' %}
{% load i18n %}
{% load crispy_forms_tags %}
{% trans "my home" %}
<p><h3>{{user.get_full_name}}</h3></p>

{% block title %}
{% block title-meta %}
{% trans "✅ Password successfully changed" %}
{% endblock title-meta %}
{% endblock title %}

{% block main %}
<div class="col-md-18" >
    <div class="card card-success">
      <div class="card-header">
<h3 class="card-title mb-0 float-right">{% trans "✅ Password successfully changed" %}:</h3>
</div>
{% endblock main %}