{% extends 'registration/base.html' %}
{% load i18n %}
{% load crispy_forms_tags %}
{% trans "my home" %}
<p><h3>{{user.get_full_name}}</h3></p>

{% block title %}
{% block title-meta %}
{% trans "🔐 Change Password" %}
{% endblock title-meta %}
{% endblock title %}

{% block main %}
<div class="col-md-18" >
    <div class="card card-danger">
      <div class="card-header">
        <h3 class="card-title mb-0 float-right">{% trans "🔐 Change Password" %}:</h3>
    </div>
        <div class="card-body">
            <form method="post" >{% csrf_token %}
                <p class="py-2">{% trans "🔒 Are you sure you want to change your password?" %} {{ user.author }}
            </p>
                <div class="form-row" >
                    <div class="col-md-12">
                        {{ form.old_password|as_crispy_field }}
                    </div>
                    <div class="col-md-6">
                        {{ form.new_password1|as_crispy_field }}
                    </div>
                    <div class="col-md-6">
                      {{ form.new_password2|as_crispy_field }}
                    </div>

                    <div class="col-md-12">
                        <a class="btn btn-danger" href="{% url 'account:profile' %}">
                            {% trans "🔐 Change Password" %}
                        </a>
                    </div>
                </div>

            </form>
            
        </div>
    </div>
    
</div>
{% endblock main %}