{% extends 'registration/base.html' %}
{% load i18n %}
{% load crispy_forms_tags %}
{% trans "my home" %}
<p><h3>{{user.get_full_name}}</h3></p>

{% block title %}
  {% block title-meta %}
    <h2 class="page-title">{% trans "✅ Password successfully changed" %}</h2>
    <style>
      .page-title {
        font-size: 25px;
        font-weight: bold;
        text-align: center;
        margin-top: 10px;
        margin-right: 60%;
      }

    </style>
  {% endblock title-meta %}
{% endblock title %}

{% block main %}
<div class="col-md-12">
  <div class="card card-success">
    <div class="card-header">
      <h3 class="card-title mb-0 float-left">{% trans "✅ New password has been set" %} </h3>
    </div>
    <div class="card-body" style='text-align:center;'>
      <p>
         {% trans "🔑 From now on, you can log in to the blog using your new password." %}
        <span style="margin-right: 1%;">
            <a href="{% url 'login' %}" style="color: blue; font-weight: bold; text-decoration: underline;">{% trans "Login" %}</a>
        </span>
    </p>
    </div>
  </div>
</div>
{% endblock main %}

