<!-- templates/registration/password_reset_done.html -->
{% load static %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
<div class="wrapper fadeInDown">
    <div id="formContent">
        <!-- Tabs Titles -->
        <h2 class="active"> Forget Password</h2>


        <!-- Icon -->
        <div class="fadeIn first">
            <img src="{% static 'img/blog/c2.jpg' %}" id="icon" alt="User Icon" />
        </div>

        <!-- Login Form -->
        <form method="">



            <h1>Check your inbox.</h1>
            <p>We've emailed you instructions for setting your password. You should receive the email shortly!</p>
        </form>
        {% include 'messaging.html' %}

        <!-- Remind Passowrd -->


    </div>
</div>