{% load static %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
<div class="wrapper fadeInDown">
    <div id="formContent">
        <!-- Tabs Titles -->
        <a class="inactive underlineHover" href="{% url 'login_accounts' %}">Sign in </a>
        <h2 class="active"> forget password</h2>
        <a class="inactive underlineHover" href="{% url 'signup_accounts' %}">Sign Up </a>

        <!-- Icon -->
        <div class="fadeIn first">
            <img src="{% static 'img/blog/c2.jpg' %}" id="icon" alt="User Icon" />
        </div>

        <!-- Login Form -->
        <form method="">



            <h1>Password reset complete</h1>
            <p>Your new password has been set. You can log in now on the <a href="{% url 'login_accounts' %}">log in
                    page</a>.
            </p>
        </form>

        <!-- Remind Passowrd -->

        {% include 'messaging.html' %}
    </div>
</div>