{% load static %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">

<div class="wrapper fadeInDown">
    <div id="formContent">
        <!-- Tabs Titles -->

        <a class="inactive underlineHover" href="{% url 'login_accounts' %}">Sign in </a>
        <h2 class="active"> forget password</h2>
        <a class="inactive underlineHover" href="{% url 'signup_accounts' %}">Sign Up </a>


        <!-- Icon -->
        <div class="fadeIn first">
            <img src="{% static 'img/blog/c2.jpg' %}" id="icon" alt="User Icon" />
        </div>

        <!-- Login Form -->
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}



            <div>
                <input type="submit" class="fadeIn fourth" value="Send me instructions!"></input>
            </div>
        </form>

        <!-- Remind Passowrd -->


    </div>
</div>