{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block content %}


<section class="heading-page header-text" id="top">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h6>Here are our upcoming meetings</h6>
        <h2>Upcoming Meetings</h2>
      </div>
    </div>
  </div>
</section>

<section class="meetings-page" id="meetings">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="row">
          <div class="col-lg-12">
            <div class="filters">
              <ul>
                <li data-filter="*" class="active">All Meetings</li>
                <li data-filter=".soon">Soon</li>
                <li data-filter=".imp">Important</li>
                <li data-filter=".att">Attractive</li>
              </ul>
            </div>
          </div>
          <div class="col-lg-12">
            <div class="row grid">

              {% for post in posts %}
              <div class="col-lg-4 templatemo-item-col all att soon">
                <div class="meeting-item">
                  <div class="thumb">
                    <div class="price">
                      {% for cat in post.category.all %}
                      <span>
                        <a href="{% url 'blog:category' cat_name=cat.name %}">{{cat.name}}</a>
                        {% if not forloop.last %}{% endif %}

                      </span><br>
                      {% endfor %}
                    </div>
                    <a href="{% url 'blog:single' pid=post.id %}"><img src="{{post.image.url}}" alt=""></a>
                  </div>
                  <div class="down-content">
                    <div class="date">
                      <h6>{{post.published_date|date:'D d/M/Y'}}</h6>
                    </div><br>
                    <a href="{% url 'blog:single' pid=post.id %}">
                      <h4>{{post.title}}</h4>
                    </a>
                    <p><br>
                      {{post.content|safe|truncatechars:20}}
                      <br>
                    </p>
                    Author:
                    <a href="{% url 'blog:author' author_username=post.author.username %}">{{post.author.username}}</a>
                    <br>
                  </div>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
          <!--
             page numbers
              -->
          <div class="col-lg-12">
            <div class="pagination">
              <ul>
                {% if posts.has_previous %}
                <li><a href="?page={{posts.previous_page_number}}"><i class="fa fa-angle-left"></i></a></li>
                {% endif %}


                {% for i in posts.paginator.page_range %}
                {% if posts.number == i %}
                <li class="active"><a href="?page={{i}}">{{i}}</a></li>
                {% else %}
                <li><a href="?page={{i}}">{{i}}</a></li>
                {% endif %}
                {% endfor %}
                {% if posts.has_next %}
                <li><a href="?page={{posts.next_page_number}}"><i class="fa fa-angle-right"></i></a></li>
                {% endif %}
              </ul>
            </div>
          </div>



        </div>
      </div>
    </div>
  </div>
  <div class="footer">
    <p>Copyright © 2022 Edu Meeting Co., Ltd. All Rights Reserved.
      <br>Design: <a href="https://templatemo.com/page/1" target="_parent" title="website templates">TemplateMo</a>
    </p>
  </div>
</section>
{% endblock %}