{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block content %}

<section class="heading-page header-text" id="top">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h6>Get all details</h6>
        <h2>Online Teaching and Learning Tools</h2>
      </div>
    </div>
  </div>
</section>

<section class="meetings-page" id="meetings">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="row">
          <div class="col-lg-12">
            <div class="meeting-single-item">
              <div class="thumb">
                <div class="price">
                  <span>$14.00</span>
                </div>
                <div class="date">
                  <h6>{{post.published_date|date:'M'}} <span>{{post.published_date|date:'d'}}</span></h6>
                </div>
                <a href="meeting-details.html"><img src="{{post.image.url}}" alt=""></a>
              </div>

              <a href="{% url 'blog:like' post.id %}">
                <h4><i style="font-size:35px" class="fa">&#xf08a;</i> {{post.like}}</h4>
              </a>

              <div class="down-content">
                <a href="meeting-details.html">
                  <h4>{{post.title}}</h4>
                </a>
                <p>Recreio dos Bandeirantes, Rio de Janeiro - RJ, 22795-008, Brazil</p>
                <p class="description">
                  {{post.content|safe}}

                  <br><br>You are allowed to use this edu meeting CSS template for your school or university or
                  business. You can feel free to modify or edit this layout. You are not allowed to redistribute the
                  template ZIP file on any other template website. Please contact us for more information.
                </p>
                <div class="row">
                  <div class="col-lg-4">
                    <div class="hours">
                      <h5>Published Date</h5>
                      <p>{{post.published_date|naturaltime}}<br>Saturday- Sunday: 09:00 AM - 15:00 PM</p>
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="location">
                      <h5>Author</h5>
                      <p>{{post.author}}
                        <br>Rio de Janeiro - RJ, 22795-008, Brazil
                      </p>
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="book now">
                      <h5>Views</h5>
                      <p>{{post.counted_view}}<br>090-080-0760</p>
                    </div>
                  </div>
                  <div class="col-lg-12">
                    <div class="share">
                      <h5>Share:</h5>
                      <ul>
                        <li><a href="#">Facebook</a>,</li>
                        <li><a href="#">Twitter</a>,</li>
                        <li><a href="#">Linkedin</a>,</li>
                        <li><a href="#">Behance</a></li>
                      </ul>
                    </div>
                  </div>
                  <!--commenting-->
                  <div id="disqus_thread"></div>
                  <script>
                    /**
                    *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
                    *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables    */
                    /*
                    var disqus_config = function () {
                    this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
                    this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
                    };
                    */
                    (function () { // DON'T EDIT BELOW THIS LINE
                      var d = document, s = d.createElement('script');
                      s.src = 'https://helperhub.disqus.com/embed.js';
                      s.setAttribute('data-timestamp', +new Date());
                      (d.head || d.body).appendChild(s);
                    })();
                  </script>
                  <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments
                      powered
                      by
                      Disqus.</a></noscript>

                </div>
              </div>

            </div>

          </div>


          <div class="col-lg-12">
            <div class="main-button-red">
              <a href="{% url 'blog:index' %}">Back To Meetings List</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer">
    <p>Copyright © 2022 Edu Meeting Co., Ltd. All Rights Reserved.
      <br>Design: <a href="https://templatemo.com" target="_parent" title="free css templates">TemplateMo</a>
    </p>
  </div>
  {% endblock %}