{% extends 'base.html' %}
{% load static %}
{% block content %}
{% load humanize %}


<section class="contact-us" id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 align-self-center">
                <div class="row">
                    <div class="col-lg-12">
                        <form id="contact" action="{% url 'blog:Create-post'%}" method="post">
                            {% csrf_token %}

                            <div class="row">
                                <div class="col-lg-12">
                                    <h2>Create Post</h2>
                                </div>
                                <div class="col-lg-4">
                                    <fieldset>
                                        <label for="id_image">Image:</label>
                                        <input type="file" name="image" accept="image/*" id="id_image">
                                    </fieldset>

                                </div>
                                <div class="col-lg-4">
                                    <fieldset>
                                        <label for="id_tags">Tags:</label>
                                        <input type="text" name="tags" aria-describedby="id_tags_helptext" id="id_tags">
                                        <span class="helptext" id="id_tags_helptext">A comma-separated list of
                                            tags.</span>
                                    </fieldset>
                                    <br>
                                    <br>

                                </div>
                                <label for="id_category">Category:</label>
                                <div class="col-lg-4">
                                    <fieldset>

                                        <select name="category" required="" id="id_category" multiple="">
                                            {% for cat in category.all %}
                                            <option value="1">{{cat.name}}</option>

                                            {% endfor %}

                                        </select>
                                    </fieldset>
                                    <br>
                                    <br>
                                </div>

                                <p>
                                    <label for="id_author">Author:</label>
                                    <select name="author" required="" id="id_author">
                                        <option value="" selected="1">{{request.user}}</option>





                                    </select>
                                </p>


                                <div class="col-lg-4">
                                    <fieldset>
                                        <label for="id_title">Title:</label>

                                        <textarea name="title" type="text" maxlength="100" id="Email" required=""
                                            placeholder="TITLE" required=""></textarea>
                                    </fieldset>
                                </div>
                                <div class="col-lg-12">


                                    <div class="col-lg-12">
                                        <label for="id_content">Content:</label>
                                        <fieldset>
                                            {{form.content|safe}}
                                        </fieldset>
                                    </div>
                                    <label for="id_published_date">Published date:</label>
                                    <input type="datetime-local" name="published_date" required=""
                                        id="id_published_date">
                                    <input hidden type="number" name="like" value="0" required="" id="id_like">

                                    <input hidden type="number" name="counted_view" value="0" required=""
                                        id="id_counted_view">
                                </div>
                                <div class="col-lg-2">
                                    {{form.captcha}}
                                </div>

                        </form>

                        <div class="col-lg-12">

                            <fieldset>
                                <button type="submit" id="form-submit" class="button">CREATE POST
                                </button>
                            </fieldset>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="right-info">
                <ul>
                    <li>
                        <h6>Phone Number</h6>
                        <span>010-020-0340</span>
                    </li>
                    <li>
                        <h6>Email Address</h6>
                        <span>info@meeting.edu</span>
                    </li>
                    <li>
                        <h6>Street Address</h6>
                        <span>Rio de Janeiro - RJ, 22795-008, Brazil</span>
                    </li>
                    <li>
                        <h6>Website URL</h6>
                        <span>www.meeting.edu</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    </div>
    <div class="footer">
        <p>Copyright © 2022 Edu Meeting Co., Ltd. All Rights Reserved.
            <br>Design: <a href="https://templatemo.com" target="_parent" title="free css templates">TemplateMo</a>
        </p>
    </div>
</section>




{% endblock %}